*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #747381;
    font-family: Arial,Helvetica,sans-serif;
}

#header{
    height: 168px;
    border-bottom: solid 2px #999;
}

#lastfm{
    width: 300px;
    float: left;
}

#headerText{
    float:left;
    font-size: 24px;
    color: #ffffff;
    padding-top: 70px;
}
#content{
    clear: both;
    color: #ffffff;
    margin-left: 70px;
    margin-top: 50px;
}

#trackinfobox{
    margin-bottom:40px;
}

#nowPlayingTrack{
    font-size: 24px;
    margin-bottom: 10px;
}

#artist, #trackName, #seperator{
    float: left;
}

#setLoginWrapper{
    padding-top: 20px;
}

#setLogin{
    float: left;
    width: 55px;
    height: 16px;
    background: #333333;
    padding: 4px 3px 3px 3px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
}

#setLogin:hover{
    cursor: pointer;
    background: #000000;
}

#login{
    width: 410px;
    text-align: left;
    margin: -150px 10px 0 0;
    float: right;
}

#login label{
    color: #ffffff;
    font-size: 12px;
    display: block;
}

.loginsection{
    width: 160px;
    float: left;
}

.loginsectionhor{
    width: 100%;
    margin-bottom: 5px;
    
}

#username, #password{
    padding: 2px 4px 3px 4px;
    color: #666666;
    font-size: 12px;
    width: 140px;
}

#signin{
    margin: -150px 50px 0 0;
    float: right;
    color: #ffffff;
    font-size: 12px;
    display: none;
}

#signin label{
    float: left;
}

#currentUser{
    font-weight: bold;
    float: left;
    margin-left: 4px;
}

#logout{
    margin-left: 5px;
}

a#logout, a#logout:visited, a#logout:active, a#logout:hover{
    color: #ffffff;
}

.trackBuff{
    background-color:#666;
    width: 200px;
    height: 50px;
    margin-bottom: 2px;
    color: #ffffff;
    padding: 10px 0px 0px 10px;
    font-size: 12px;
    position: relative;
    border: solid 2px #cccccc;
    -moz-border-radius: 10px 10px 10px 10px;
}

#scrobbleArea {
    float: right;
    margin: -100px 50px 0 0;
}

.artistNameInBuff, .seperatorInBuff, .trackBlockInBuff{
    float: left;
}

.seperatorInBuff{
    margin: 0px 3px 0px 3px;
}

.makeLink {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}